{% extends 'base.html' %}

{% block content %}

<div class="container">
    <br>
    <h4>Carga de Pedidos</h4>
    <a href="{% url 'home' %}">volver a casa</a>
    <hr>
    
    <!--
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4 col-lg-2 columna bordered-column">
                Orden Número : {{ order_instance.order_number }}
            </div>
        </div>
    </div>
    -->

    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4 col-lg-2 columna bordered-column">
                {% if order_instance.id %}
                    Orden Número : {{ order_instance.order_number }}
            </div>
                {% else %}
            <div class="col-sm-4 col-lg-2 columna bordered-column">
                    Orden Número : No disponible
            </div>
                {% endif %}
            </div>
        </div>
    </div>



    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4 col-lg-2 columna bordered-column">
                Orden Número : {{ order_instance.order_number }}
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4 col-lg-2 columna bordered-column">
    
                <form method="post">
                    {% csrf_token %}
                    <p>V: </p>{{ arnold.as_p }}
                </form>


            </div>            
        </div>
    </div>
    <br>
    
    <h3>Información del Cliente</h3>


    <div class="row justify-content-end">
        <div class="row">
            <div class="col-sm-4 col-lg-5">
    Apellido, Nombre
            </div>
            <div class="col-sm-4 col-lg-2">
    Empresa
            </div>
            <div class="col-sm-4 col-lg-2">
    CUIT
            </div>                                    
            <div class="col-sm-8 col-lg-2">
    Teléfono
            </div>            
        </div>
    </div>


    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4 col-lg-5 columna bordered-column">
    Apellido, Nombre
            </div>
            <div class="col-sm-4 col-lg-2 columna bordered-column">
    Unidos S.A.
            </div>
            <div class="col-sm-4 col-lg-2 columna bordered-column">
    2323232323
            </div>                                    
            <div class="col-sm-8 col-lg-2 columna bordered-column">
    454545455
            </div>            
        </div>
    </div><br>


<hr>
<hr>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th>SKU</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>IVA</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for producto_for in productos %}
            <tr>
              <td>{{ producto_for.sku }}</td>
              <td>{{ producto_for.description }}</td>
              <td>{{ producto_for.price }}</td>
              <td>{{ producto_for.price }}</td>
              <td>{{ producto_for.price }}</td>
              <td>{{ producto_for.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="container">
      <br>
        <center>
        <button type="button" class="btn btn-primary" href="#">Agregar más items</button>
        <button type="button" class="btn btn-primary" href="#">Cerrar y descargar la Orden</button>
        </center>
        <br>
    </div>

<hr>
<hr>
    <br>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-sm-4 col-lg-2 columna bordered-column text-center">
        <i>Subtotal</i>
            </div>
            <div class="col-sm-4 col-lg-3 columna bordered-column text-center">
        55,55
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-sm-4 col-lg-2 columna bordered-column text-center">
        <i>IVA 21%</i>
            </div>
            <div class="col-sm-4 col-lg-3 columna bordered-column text-center">
        355,55
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-sm-4 col-lg-2 columna bordered-column text-center">
        <i>IVA 10.5</i>
            </div>
            <div class="col-sm-4 col-lg-3 columna bordered-column text-center">
        55,55
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-sm-4 col-lg-2 columna bordered-column text-center">
        <i>IVA Excento</i>
            </div>
            <div class="col-sm-4 col-lg-3 columna bordered-column text-center">
        55,55
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-sm-4 col-lg-2 columna bordered-column text-center">
        <strong>Total</strong>
            </div>
            <div class="col-sm-4 col-lg-3 columna bordered-column text-center">
        55,55
            </div>
        </div>
    </div>
    
<br><br>
<div class="text-center">
    <p> <strong> -  -  Gracias</strong> <i> muchacho</i><strong>  por  su </strong><i> alta</i><strong>  Orden  de  Compra  -  - </strong></p>
</div>
<hr><br>
</div>

    <style>
        .bordered-column {
    border: 1px solid #eaa5a5; /* Establece un borde de 1px sólido con un color gris tenue */
    padding: 5px; /* Agrega un relleno para separar el contenido del borde */
    border-radius: 5px; /* Agrega bordes redondeados para suavizar el borde */
    margin-bottom: 10px; /* Agrega un margen inferior para separar las columnas */
    margin-right: 1px; /* Agrega un margen derecho para separar las columnas */
        }

    </style>
{% endblock %}


