
<!-- salesperson.html 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Vendedores</title>
</head>
<body>
    <h1>Lista de Vendedores</h1>
    <ul>
        {% for salesperson in salespersons %}
        <li>{{ salesperson.nombre }}</li>
        {% endfor %}
    </ul>
</body>
</html>
-->

<h4>Nada, solo HTML</h4>
<hr>
<!-- en lugar de form, llamé al formulario arnold para probar -->
<form method="post">
    {% csrf_token %}
    {{ arnold.as_p }}
</form>
<hr>
